.login-body{
  background-image: url('./../../assets/img/login-background.avif');
  background-position: center;
  height: 92vh !important;
  background-size: cover;
}

.login-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  font-size: 1rem;
  padding-bottom: 100px;
}
.login-icon{
  color: var(--royal-purple);
  font-size: 100px;
  margin-bottom: 20px;
}
.login-input {
  width: 450px !important;
}

.invalid-feedback{
  padding-top: 4px !important;
  /* font-size: 10.5px !important; */
}


@media (max-width: 768px) {
  .invalid-feedback{
    padding-top: 4px !important;
    /* font-size: .9rem !important; */
  }
}

@media (max-width: 576px) {
  .login-input {
    width: 380px !important;
    min-width: auto !important;
  } 
  .invalid-feedback{
    font-size: .8rem !important;
    padding-top: 4px !important;
  }
}
@media (max-width: 450px) {
  .login-input, .invalid-feedback {
    width: 80vw !important;
    min-width: auto !important;
  } 
  .invalid-feedback{
    font-size: .7rem !important;
  }
}

@media (max-width: 400px) {
  .invalid-feedback{
    font-size: .6rem !important;
  }
}