.img-service{
  width: 12rem !important;
  height: 10rem !important;
}

.container-cards-plans{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0 !important;
}

.product-img{
  border-radius: 16px;
  height: 300px;
  object-fit: cover;
}

.text-card-product {
  position: relative;
  padding: 1rem; 
  border-radius: 16px;
}

.text-inner {
  position: relative;
  z-index: 1;
}

.text-card-product:before {
  content: '';
  position: absolute;
  inset: 0; 
  padding: 1rem;
  border-radius: 16px;
  background-color: black;
  opacity: 0.55;
  z-index: 0;
}

@media screen and (max-width: 372px){
  .hero-buttons .bg-secondary {
    margin-bottom: .55rem;
  }
}