.form-register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 3em;
  margin-bottom: 20px;
}


.button-register{
  height: 3.5rem;
  margin: .8rem;
  margin-top: .5rem;
  width: 8rem;
}

@media (max-width: 450px) {
  .form-register .form-floating{
    font-size: .8rem !important;
  }
  .button-register{
    font-size: .92rem !important;
    height: 2.5rem !important;
    margin-top: .9rem !important;

  }
  .register-input{
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .container-form{
    justify-content: center;
  }
  h5 {
    font-size: 1.2rem !important;
  }
  .register-input{
    margin: 0px !important;
    width: 90%;
  }
  .button-register{
    width: 150px;
    height: 3rem;
    margin-left: 0 !important;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .form-register .form-floating{
    font-size: .8rem !important;
  }
} 

@media (max-width: 992px) {
  .form-register .form-floating{
  font-size: .8rem;
  }
}

#register-input-pass{
  margin-bottom: 0 !important;
}