.footer{
    height: 10%;
}
@media screen and (min-width: 576px) {
  .icons-footer{
    transform: translateX(-7%);
  }
}
@media screen and (min-width: 768px) {
    .footer-links{
    margin-left: 25% !important;
    }
}
@media screen and (max-width: 367px) {
    .container-footer-links{
    transform: translateX(-5%) !important;
    }
}
.icons-redes{
  height: 80px;
  width: 80px;
  font-size: 60px !important;
}
.icons-links-redes{
  color: var(--color-blue) !important;
  color: var(--color-verde-aguila) !important;
}
.footer-links a{
  color: rgb(67, 125, 159) !important;
  font-weight: 750;
}
.container-footer-links{
  display: flex;
  flex-direction: column;
}
.container-logo{
  font-size: 35px !important;
  transform: translateX(-5%);
  text-decoration: none;
  color: var(--color-verde-aguila) !important;
}
.container-footer-bottom{
  color: rgb(125, 138, 145) !important;
  font-weight: 700;
}
.footer-landing{
  background: linear-gradient(rgba(20, 29, 50) 0%, rgba(20, 29, 50, .8) 100% ) !important;
}
.footer-landing a:hover{
  color: var(--color-font-footer-mg) !important;
}
.footer-links{
  margin-left: -20% !important;
}
.container-icons-redes{
  display: flex !important;
  height: 40px;
  align-items: center !important;
}