@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
}
h2, .subtitle-about-us{
  color: #2C2C73 !important;
}
.card {
  padding: 2em;
}
@media screen and (max-width: 575px) {
  h2{
    font-weight: 600 !important;
  }
}