html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#root{
  padding: 0;
}

.description {
  margin: 2rem 0;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

.container-hero {
  /* margin-top: 6rem; */
}
.container-title {
  text-align: center;
  margin-top: 10rem;
}

.container-card {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.container-card.svg {
  margin: 5rem;
  gap: 5rem;
  justify-content: center;
}

.card-svg {
  border: 2px solid #44444446;
  border-radius: 16px;
  width: 20rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-svg-img {
  margin-top: 1rem;
}

.card-svg-text {
  color: #080808;
  font-size: 1.5rem;
  font-weight: bold;
}

.border-none {
  border: none;
  width: 32rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote-footer::before {
  content: none;
}