html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#root{
  padding: 0 !important;
  --color-verde-aguila: #1f929a;

}

.description {
  margin: 2rem 0;
}

.container-box {
  margin-bottom: 5rem;
  margin-top: 10rem;
}
.container-box h2{
  margin-bottom: 4rem;
}

.container-box-testimonials h2{
  padding: 0 2rem !important;
  margin-bottom: 3rem;
}

.container-title-services {
  text-align: center;
}

.container-title-services p{
  font-size: 1.35rem !important;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.text-call-to-action{
  margin-top: 1.25rem;
  font-size: 1.2rem;
  font-style: italic;
}

.container-box-testimonials{
  margin: 4rem 0rem 3.5rem 0rem;
}

.call-to-action{
  margin-bottom: 4rem !important;
}
.title-call-to-action{
  padding: 0 2rem;
}
.perfil{
  padding-left: 3rem;
  width: 100vw !important;
  font-size: 1.2rem;
  background-color: gainsboro;
}
.img-avatar-perfil{
  background-image: url('./../public/assets/images/avatar.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 110px;
}

.info-perfil{
  font-size: 1.05rem;
}

.parraf-about-us {
  font-size: 1.3rem !important;
}

.alert-input-password{
  font-size: 10px !important;
  padding: 6px 0px 6px 5px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .container-box {
    margin-top: 6rem;
    padding: 0rem 1rem 2rem 1rem;
  }
  .container-box h2{
    margin-bottom: 3rem;
  }
  .container-title-services {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 575px){
  .container-box-testimonials{
    margin: 6rem 0rem 5rem 0rem !important;
  }
  .text-call-to-action{
    margin-top: 1.25rem;
    font-size: 1.6rem;
    font-style: italic;
  }
  .parraf-about-list li{
    margin: 20px 0px;
  }
}

@media screen and (max-width: 575px){
  .perfil{
    padding-left: 1rem !important;
    font-size: 1rem;
    background-color: gainsboro;
  }
  .img-avatar-perfil{
    align-self: self-start;
    width: 80px;
    height: 50px;
  }
  .links-proyect{
    width: 100%;
    text-align: center;
  }
  .links-proyect button{
    width: 90%;
    margin-right: 0 !important;
  }
  .title-about-us{
    font-size: 1.3rem !important;
  }
  .title-about-academy{
    font-size: 1.05rem !important;
  }
  .parraf-about-us{
    padding-top: 15px !important;
    font-size: 1rem !important;
  }
  .parraf-about-list li{
    font-size: .95rem !important;
    padding-bottom: 10px;
  }
  .container-description{
    padding: 0 15px !important;    
  }
  .container-description li{
    font-size: 1rem !important;
  }
  .info-perfil{
    font-size: .9rem;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .register-input .form-control{
    margin-top: .25rem;
    margin-bottom: .15rem;
  }
}

@media screen and (max-width: 460px){
  .perfil{
    padding-left: 1rem !important;
    font-size: .8rem;
    background-color: gainsboro;
  }
  .img-avatar-perfil{
    align-self: self-start;
    width: 100px;
    height: 100px;
    background-size: contain;
  }
  .info-perfil{
    font-size: .8rem;
    margin-left: 10px !important;
    padding-left: 0px !important;
  }
  .title-about-us .title-about-proyect{
    font-size: 1.1rem !important;
  }
  .container-title-services p{
    font-size: 1.05rem !important;
  }
}

@media screen and (max-width: 360px){
  .buttons-redes-perfil{
    display: flex;
    padding-right: 10px; 
  }
  .buttons-redes-perfil .btn-success, .buttons-redes-perfil .btn-secondary{
    font-size: 11px !important;
  }
  .title-about-us .title-about-proyect{
    padding-top: 5px;
    font-size: 1.2rem !important;
    display: block;
  }
  .title-about-academy{
    font-size: .88rem !important;
  }
  .parraf-about-us, .parraf-about-list li{
    font-size: .9rem !important;
  }
}

@media screen and (min-width: 767px){
  .title{
    font-size: 2.2rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {  
  .hero-buttons {
    transform: translateY(-100%);
  }
  .container-box-testimonials{
    margin: 8rem 0rem 5rem 0rem !important;
  }
}

@media screen and (min-width: 992px){
  .container-title-services {
    text-align: center;
    margin-top: 5rem !important;
  }
  .perfil{
    padding-left: 5rem;
  } 
}

.container-card.svg {
  justify-content: center;
}

.card-svg {
  border: 2px solid #44444446;
  border-radius: 16px;
  width: 20rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-svg-img {
  margin-top: 1rem;
}

.card-svg-text {
  color: #080808;
  font-size: 1.5rem;
  font-weight: bold;
}

.blockquote-footer::before {
  content: none;
}

@media screen and (max-width: 576px){
  .blockquote p{
    font-size: 1rem !important;
  }
}